body {
    color: white;
    background-color: pink;
    margin: 0;
    width: 100%;
}

#body-container-one {
    background-color: green;
}

#body-container-two {
    background-color: blue;
}

#body-container-three {
    background-color: yellow;
}

#body-container-four {
    background-color: purple;
}

#footer {
    background-color: gray;
}

.container {
    padding-left: 100px;
    padding-right: 100px;
}

#headerpanel {
    background-color: #9292ff;
    border-style: solid;
    color: #10ff30;
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
}

.sections {
    background-color: red;
    margin: 0;
}

a {
    color: white;
}

h1, h2, h3, p {
    margin: 0px;
}
